{% extends "/backstage/base.html" %}

{% block title %}
文章管理
{% endblock %}

{% block style %}
    <style>

    </style>
{% endblock %}

{% block container %}

<form method="post" enctype=multipart/form-data>
    <script src="/statics/js/tinymce_setup.js"></script>
    <script src="/statics/tinymce/js/tinymce/tinymce.min.js"></script>
    <link href="/statics/css/prism.css" rel="stylesheet" />
    <script src="/statics/js/prism.js"></script>
    <div class="input-group" style="padding: 10px;">
      <input type="text" class="form-control" name="title"  placeholder="请输入标题" aria-describedby="basic-addon2">
      <span class="input-group-addon" id="basic-addon2" style="background:gainsboro;">文章标题</span>
    </div>
    <div class="input-group" style="padding: 10px;">
        <input type="text" name="author" class="form-control" placeholder="请输入作者" aria-describedby="basic-addon2">
    </div>
    <div class="input-group" style="padding: 10px;">
        <textarea type="text" class="form-control" name="description"  placeholder="请输入描述" aria-describedby="basic-addon2"></textarea>
    </div>
    <div style="padding: 10px;">
       <textarea class="content" name="content"></textarea>
    </div>

    <div style="padding: 10px">
        <label style="color: black">文章标签：</label>
        {% for tag_obj in tag_obj_list %}
        <input type="checkbox" name="article_tag" value="{{ tag_obj.id }}">{{ tag_obj.name }}&nbsp;&nbsp;
        {% endfor %}
    </div>
    <div style="padding: 10px;">
        <label style="color: black">文章类型：</label>
        <input type="radio" name="article_type" value="原创" checked>原创&nbsp;&nbsp;
        <input type="radio" name="article_type" value="转载">转载
    </div>
    <div style="padding: 10px">
        <input type="submit" style="border: 1px solid red;color: red;width: 120px" class="btn btn-default" name="" value="发布文章">
        <input type="submit" style="border: 1px solid red;color: red;width: 120px;margin-left: 30px" class="btn btn-default" name="" value="保存为草稿">
        <input type="submit" style="border: 1px solid grey;color: grey;width: 120px;margin-left: 30px" class="btn btn-default" name="" value="返回">
    </div>
</form>
{% endblock %}
{% block script %}
    <script>
        tinymce.init({
            selector: ".content",
            height: 600,
            plugins: [
                "advlist autolink autosave link image lists charmap print preview hr anchor pagebreak spellchecker",
                "searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking",
                "table contextmenu directionality emoticons template textcolor paste fullpage textcolor codesample"
            ],

            toolbar1: "undo redo | cut copy paste | bold italic underline strikethrough | alignleft aligncenter alignright alignjustify | styleselect formatselect fontselect fontsizeselect",
            toolbar2: " searchreplace | bullist numlist | outdent indent blockquote | link unlink anchor image media code codesample | inserttime preview | forecolor backcolor",
            toolbar3: "table | hr removeformat | subscript superscript | charmap emoticons | print fullscreen | ltr rtl | spellchecker | visualchars visualblocks nonbreaking template pagebreak restoredraft",

            menubar: false,
            toolbar_items_size: 'small',

            style_formats: [
                {title: 'Bold text', inline: 'b'},
                {title: 'Red text', inline: 'span', styles: {color: '#ff0000'}},
                {title: 'Red header', block: 'h1', styles: {color: '#ff0000'}},
                {title: 'Example 1', inline: 'span', classes: 'example1'},
                {title: 'Example 2', inline: 'span', classes: 'example2'},
                {title: 'Table styles'},
                {title: 'Table row 1', selector: 'tr', classes: 'tablerow1'}
            ],

            templates: [
                {title: 'Test template 1', content: 'Test 1'},
                {title: 'Test template 2', content: 'Test 2'}],
            language: 'zh_CN'
        })
    </script>
{% endblock %}