{% extends "/backstage/base.html" %}

{% block title %}
文章管理
{% endblock %}

{% block style %}
    <style>

    </style>
{% endblock %}

{% block container %}

<form method="post" enctype=multipart/form-data>
<input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <script src="/statics/js/tinymce_setup.js"></script>
    <script src="/statics/tinymce/js/tinymce/tinymce.min.js"></script>
    <link href="/statics/css/prism.css" rel="stylesheet" />
    <script src="/statics/js/prism.js"></script>
    <div class="input-group" style="padding: 10px;">
      <input type="text" class="form-control" name="title"  placeholder="请输入标题" aria-describedby="basic-addon2">
      <span class="input-group-addon" id="basic-addon2" style="background:gainsboro;">文章标题</span>
    </div>
    <div class="input-group" style="padding: 10px;">
        <input type="text" name="author" class="form-control" placeholder="请输入作者" aria-describedby="basic-addon2">
    </div>
    <div class="input-group" style="padding: 10px;">
        <textarea type="text" class="form-control" name="description"  placeholder="请输入描述" aria-describedby="basic-addon2"></textarea>
    </div>
    <div style="padding: 10px;">
       <textarea class="content" name="content"></textarea>
    </div>
    <div style="padding: 10px;">
       <input type="file" class="article_img" name="article_picture">
    </div>
    <div style="padding: 10px">
        <label class="type_article" style="color: black">文章类型：</label>
        {% for type_obj in type_obj_list %}
            {% if type_obj.name == "技术文章" %}
                <input type="radio" name="article_type" value="{{ type_obj.id }}" checked><span>{{ type_obj.name }}</span><span class="delete_type" id="type{{ type_obj.id }}" style="color: red;cursor: pointer">×</span>&nbsp;
            {% else %}
                <input type="radio" name="article_type" value="{{ type_obj.id }}"><span>{{ type_obj.name }}</span><span class="delete_type" id="type{{ type_obj.id }}" style="color: red;cursor: pointer">×</span>&nbsp;&nbsp;
            {% endif %}
        {% endfor %}
        <button style="margin-left: 50px" type="button" class="add_type">增加类型</button>
    </div>
    <div style="display: none" class="add-type">
        <input id="type" value="" type="text" name="type" placeholder="填写类型">
        <button class="submit_type" type="button">提交</button>
    </div>
    <div style="padding: 10px">
        <label class="tag_article" style="color: black">文章标签：</label>
        {% for tag_obj in tag_obj_list %}
            <input type="checkbox" name="article_tag" value="{{ tag_obj.id }}"><span>{{ tag_obj.name }}</span><span class="delete_tag" id="tag{{ tag_obj.id }}" style="color: red;cursor: pointer">×</span>&nbsp;&nbsp;
        {% endfor %}
        <button style="margin-left: 50px" type="button" class="add_tag">增加标签</button>
    </div>
    <div style="display: none" class="add-tag">
        <input type="text" id="tag" value="" name="tag" placeholder="填写标签">
        <button class="submit_tag" type="button">提交</button>
    </div>
    <div style="padding: 10px;">
        <label style="color: black">文章来源：</label>
        <input type="radio" name="article_source" value="原创" checked>原创&nbsp;&nbsp;
        <input type="radio" name="article_source" value="转载">转载
    </div>
    <div style="padding: 10px">
        <input type="submit" style="border: 1px solid red;color: red;width: 120px" class="btn btn-default" name="submit" value="发布文章">
        <input type="submit" style="border: 1px solid red;color: red;width: 120px;margin-left: 30px" class="btn btn-default" name="submit" value="保存为草稿">
        <input type="button" style="border: 1px solid black;color: black;width: 120px;margin-left: 30px" class="btn btn-default back" name="submit" value="返回" data-toggle="modal" data-target="#myModal">
    </div>
</form>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel"></h4>
            </div>
            <div class="modal-body">您确定要&nbsp;<span style="color: black;font-size: 22px" class="text-sure"></span>&nbsp;吗</div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary sure">确定</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

{% endblock %}
{% block script %}
    <script>
        $(function () {
            $(".back").click(function () {
                var text_sure = $(this).val();
                $(".text-sure").text(text_sure);
                $(".sure").click(function () {
                    $(".back").attr("type", "submit");
                    $(".back").click()
                });
            });
            $(".add_type").click(function () {
                if($(".add-type").css("display") == "none"){
                    $(".add-type").css("display","inline");
                    $(".submit_type").click(function () {
                        if($("#type").val() == ""){
                            alert("请填写类型")
                        }else {
                            var type = $("#type").val();
                            $.post("/backstage/add_type/",{"type":type,"csrf_token":"{{ csrf_token() }}"},function (data) {
                                var type_id = data.type_id;
                                var type_name = data.type_name;
                                var html = '<input type="radio" name="article_type" value="'+type_id+'"><span>'+type_name+'</span><span class="delete_type" style="color: red;cursor: pointer">×</span>&nbsp;&nbsp;';
                                $(".type_article").after(html);
                                $(".add-type").css("display","none")
                            })
                        }
                    })
                }else {
                    $(".add-type").css("display","none")
                }
                });
                $(".delete_type").click(function () {
                    var type_id = $(this).prev().prev().val();
                    var type = $(this).attr("id");
                    $.get("/backstage/add_type/",{"type_id":type_id},function (data) {
                        $("span[id="+type+"]").prev().prev().remove();
                        $("span[id="+type+"]").prev().remove();
                        $("span[id="+type+"]").remove();
                    })
                });
                $(".add_tag").click(function () {
                    if ($(".add-tag").css("display") == "none") {
                        $(".add-tag").css("display", "inline");
                        $(".submit_tag").click(function () {
                            if ($("#tag").val() == "") {
                                alert("请填写类型")
                            } else {
                                var tag = $("#tag").val();
                                $.post("/backstage/add_tag/", {"tag": tag,"csrf_token":"{{ csrf_token() }}"}, function (data) {
                                    var tag_id = data.tag_id;
                                    var tag_name = data.tag_name;
                                    var html = '<input type="checkbox" name="article_tag" value="' + tag_id + '"><span>' + tag_name + '</span><span class="delete_tag" style="color: red;cursor: pointer">×</span>&nbsp;&nbsp;';
                                    $(".tag_article").after(html);
                                    $(".add-tag").css("display", "none")
                                })
                            }
                        })
                    } else {
                        $(".add-tag").css("display", "none")
                    }
                });
                $(".delete_tag").click(function () {
                    var tag_id = $(this).prev().prev().val();
                     var tag = $(this).attr("id");
                    $.get("/backstage/add_tag/",{"tag_id":tag_id},function (data) {
                        $("span[id="+tag+"]").prev().prev().remove();
                        $("span[id="+tag+"]").prev().remove();
                        $("span[id="+tag+"]").remove();
                    })
                });
        });
        tinymce.init({
            selector: ".content",
            height: 600,
            plugins: [
                "advlist autolink autosave link image lists charmap print preview hr anchor pagebreak spellchecker",
                "searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking",
                "table contextmenu directionality emoticons template textcolor paste fullpage textcolor codesample"
            ],

            toolbar1: "undo redo | cut copy paste | bold italic underline strikethrough | alignleft aligncenter alignright alignjustify | styleselect formatselect fontselect fontsizeselect",
            toolbar2: " searchreplace | bullist numlist | outdent indent blockquote | link unlink anchor image media code codesample | inserttime preview | forecolor backcolor",
            toolbar3: "table | hr removeformat | subscript superscript | charmap emoticons | print fullscreen | ltr rtl | spellchecker | visualchars visualblocks nonbreaking template pagebreak restoredraft",

            menubar: false,
            toolbar_items_size: 'small',
            images_upload_url: '/image/upload',
            style_formats: [
                {title: 'Bold text', inline: 'b'},
                {title: 'Red text', inline: 'span', styles: {color: '#ff0000'}},
                {title: 'Red header', block: 'h1', styles: {color: '#ff0000'}},
                {title: 'Example 1', inline: 'span', classes: 'example1'},
                {title: 'Example 2', inline: 'span', classes: 'example2'},
                {title: 'Table styles'},
                {title: 'Table row 1', selector: 'tr', classes: 'tablerow1'}
            ],

            templates: [
                {title: 'Test template 1', content: 'Test 1'},
                {title: 'Test template 2', content: 'Test 2'}],
            language: 'zh_CN'
        })
    </script>
{% endblock %}