{% extends "/backstage/base.html" %}

{% block title %}
文章管理
{% endblock %}

{% block container %}
<div style="padding: 10px" class="r_box">
      {% for article_obj in data.data_list %}
          <li>
            <a href="/backstage/article_detail/?id={{ article_obj.id }}"><h3><strong>{{ article_obj.title }}</strong></h3></a>
            <p>{{ article_obj.description }}</p>
            <br>
            <span style="font-size: 10px;margin-right: 200px">时间：{{ article_obj.created_date }}&nbsp;&nbsp;&nbsp;&nbsp;
                作者：{{ article_obj.author }}&nbsp;&nbsp;&nbsp;&nbsp;
                标签：{% for tag_obj in article_obj.tag %}
                {{ tag_obj.name }}&nbsp;
                {% endfor %}
            </span>
            {% if article_obj.article_status == '发布' %}
                <div style="margin-left: 600px;">
                    <a style="color: black" href="/backstage/article_detail/?id={{ article_obj.id }}">编辑</a>&nbsp;&nbsp;&nbsp;&nbsp;
                    <strong style="color:blue;">已发布</strong>
                </div>
            {% else %}
                <div style="margin-left: 600px;">
                    <a style="color: black" href="/backstage/article_detail/?id={{ article_obj.id }}">编辑</a>&nbsp;&nbsp;&nbsp;&nbsp;
                    <strong style="color:red;">未发布</strong>
                </div>
            {% endif %}
          </li>
      <hr>
      {% endfor %}
    <div class="pagelist">
        {% if data.pre_page %}
            <a href="/backstage/article_list/?page={{ data.pre_page }}">上一页</a>
        {% else %}
            <a href="#">上一页</a>
        {% endif %}
        {% for page in data.page_range %}
            {% if page == data.current_page %}
                <a href="#" class="curPage">{{ page }}</a>&nbsp;&nbsp;
            {% else %}
                <a href="/backstage/article_list/?page={{ page }}">{{ page }}</a>
            {% endif %}
        {% endfor %}
        {% if data.next_page %}
            <a href="/backstage/article_list/?page={{ data.next_page }}">下一页</a>
        {% else %}
            <a href="#">下一页</a>
        {% endif %}
    </div>
  </div>
{% endblock %}