{% extends "backstage/base.html" %}

{% block title %}
    文章详情
{% endblock %}

{% block container %}
    <form method="post" enctype=multipart/form-data>
    <input type="hidden" name="article_id" value="{{ article_obj.id }}">
    <script src="/statics/js/tinymce_setup.js"></script>
    <script src="/statics/tinymce/js/tinymce/tinymce.min.js"></script>
    <link href="/statics/css/prism.css" rel="stylesheet" />
    <script src="/statics/js/prism.js"></script>
    <div class="input-group" style="padding: 10px;">
      <input type="text" class="form-control" name="title" value="{{ article_obj.title }}" aria-describedby="basic-addon2">
      <span class="input-group-addon" id="basic-addon2" style="background:gainsboro;">文章标题</span>
    </div>
    <div class="input-group" style="padding: 10px;">
        <input type="text" name="author" class="form-control" value="{{ article_obj.author }}" aria-describedby="basic-addon2">
    </div>
    <div class="input-group" style="padding: 10px;">
        <textarea type="text" class="form-control" name="description" aria-describedby="basic-addon2">{{ article_obj.description }}</textarea>
    </div>
    <div style="padding: 10px;">
       <textarea class="content" name="content">{{ article_obj.content }}</textarea>
    </div>
    <div style="padding: 10px;">
       <input type="file" class="article_img" name="article_picture">
    </div>

    <div style="padding: 10px">
        <label style="color: black">文章标签：</label>
        {% for tag_obj in tag_obj_list %}
            {% if tag_obj in article_obj.tag %}
            <input type="checkbox" name="article_tag" value="{{ tag_obj.id }}" checked>{{ tag_obj.name }}&nbsp;&nbsp;
            {% else %}
            <input type="checkbox" name="article_tag" value="{{ tag_obj.id }}">{{ tag_obj.name }}&nbsp;&nbsp;
            {% endif %}
        {% endfor %}
    </div>

    <div style="padding: 10px;">
        <label style="color: black">文章类型：</label>
        {% if article_obj.article_type == "原创" %}
            <input type="radio" name="article_type" value="原创" checked>原创&nbsp;&nbsp;
            <input type="radio" name="article_type" value="转载">转载
        {% else %}
            <input type="radio" name="article_type" value="原创">原创&nbsp;&nbsp;
            <input type="radio" name="article_type" value="转载" checked>转载
        {% endif %}
    </div>
    <div style="padding: 10px">
        <input type="submit" style="border: 1px solid red;color: red;width: 120px" class="btn btn-default" name="submit" value="发布文章">
        <input type="submit" style="border: 1px solid red;color: red;width: 120px;margin-left: 30px" class="btn btn-default" name="submit" value="保存为草稿">
        <input type="button" style="border: 1px solid black;color: black;width: 120px;margin-left: 30px" class="btn btn-default back" name="submit" value="返回" data-toggle="modal" data-target="#myModal">
        <input type="button" style="border: 1px solid black;color: black;width: 120px;margin-left: 30px" class="btn btn-default delete" name="submit" value="删除" data-toggle="modal" data-target="#myModal">
    </div>
</form>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel"></h4>
            </div>
            <div class="modal-body">您确定要&nbsp;<span style="color: black;font-size: 22px" class="text-sure"></span>&nbsp;吗</div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary sure">确定</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
{% endblock %}
{% block script %}
    <script>
        $(function () {
            $(".back").click(function () {
                var text_sure = $(this).val();
                $(".text-sure").text(text_sure);
                $(".sure").click(function () {
                    $(".back").attr("type","submit");
                    $(".back").click()
                });
            });
            $(".delete").click(function () {
                var text_sure = $(this).val();
                $(".text-sure").text(text_sure);
                $(".sure").click(function () {
                    $(".delete").attr("type","submit");
                    $(".delete").click()
                });
            })
        });

        tinymce.init({
            selector: ".content",
            height: 600,
            plugins: [
                "advlist autolink autosave link image lists charmap print preview hr anchor pagebreak spellchecker",
                "searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking",
                "table contextmenu directionality emoticons template textcolor paste fullpage textcolor codesample"
            ],

            toolbar1: "undo redo | cut copy paste | bold italic underline strikethrough | alignleft aligncenter alignright alignjustify | styleselect formatselect fontselect fontsizeselect",
            toolbar2: " searchreplace | bullist numlist | outdent indent blockquote | link unlink anchor image media code codesample | inserttime preview | forecolor backcolor",
            toolbar3: "table | hr removeformat | subscript superscript | charmap emoticons | print fullscreen | ltr rtl | spellchecker | visualchars visualblocks nonbreaking template pagebreak restoredraft",

            menubar: false,
            toolbar_items_size: 'small',

            style_formats: [
                {title: 'Bold text', inline: 'b'},
                {title: 'Red text', inline: 'span', styles: {color: '#ff0000'}},
                {title: 'Red header', block: 'h1', styles: {color: '#ff0000'}},
                {title: 'Example 1', inline: 'span', classes: 'example1'},
                {title: 'Example 2', inline: 'span', classes: 'example2'},
                {title: 'Table styles'},
                {title: 'Table row 1', selector: 'tr', classes: 'tablerow1'}
            ],

            templates: [
                {title: 'Test template 1', content: 'Test 1'},
                {title: 'Test template 2', content: 'Test 2'}],
            language: 'zh_CN'
        })

    </script>
{% endblock %}