{% extends "backstage/base.html" %}
{% block title %}
    编辑音乐
{% endblock %}

{% block container %}
    <div style="padding: 10px" class="r_box">
      {% for music_obj in data.data_list %}
          <li>
            <h3>{{ music_obj.title }}</h3>
            <p>{{ music_obj.singer }}</p>
            <img style="width: 40px;height: 40px;" src="/statics/music/images/{{ music_obj.image }}">
          </li>
           <div style="margin-left: 600px;">
                <form method="post">
                    <input type="hidden" name="id" value="{{ music_obj.id }}">
                    <input type="hidden" name="image" value="{{ music_obj.image }}">&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="hidden" name="music" value="{{ music_obj.src }}">
                    <input type="submit" value="删除">
                </form>
           </div>
          <hr>

      {% endfor %}
    <div class="pagelist">
        {% if data.pre_page %}
            <a href="/backstage/music_list/?page={{ data.pre_page }}">上一页</a>
        {% else %}
            <a href="#">上一页</a>
        {% endif %}
        {% for page in data.page_range %}
            {% if page == data.current_page %}
                <a href="#" class="curPage">{{ page }}</a>&nbsp;&nbsp;
            {% else %}
                <a href="/backstage/music_list/?page={{ page }}">{{ page }}</a>
            {% endif %}
        {% endfor %}
        {% if data.next_page %}
            <a href="/backstage/music_list/?page={{ data.next_page }}">下一页</a>
        {% else %}
            <a href="#">下一页</a>
        {% endif %}
    </div>
  </div>
{% endblock %}