{% extends "base.html" %}

{% block title %}
我的文章
{% endblock %}

{% block container %}
<article>
  <aside class="l_box">
 <div class="search">
      <form action="/search/" method="get" name="searchform" id="searchform">
          {% if key_word %}
            <input name="keyboard" id="keyboard" class="input_text" value={{ key_word }} style="color: rgb(153, 153, 153);" onfocus="if(value=={{ key_word }}){this.style.color='#000';value=''}" onblur="if(value==''){this.style.color='#999';value={{ key_word }}" type="text">
          {% else %}
              <input name="keyboard" id="keyboard" class="input_text" value="请输入关键字词" style="color: rgb(153, 153, 153);" onfocus="if(value=='请输入关键字词'){this.style.color='#000';value=''}" onblur="if(value==''){this.style.color='#999';value='请输入关键字词'}" type="text">
          {% endif %}
        <input name="Submit" class="input_submit" value="搜索" type="submit">
      </form>
    </div>
    <div class="fenlei">
      <h2>文章分类</h2>
      <ul>
          {% for tag_obj in data.tag_obj_list %}
              {% if tag_obj.name == "站长推荐" %}
                  <li style="display: none"></li>
              {% else %}
                  {% if tag_id %}
                      {% if tag_obj.id == tag_id %}
                          <li><a style="color: red" href="/article/type/?tag_id={{ tag_obj.id }}">{{ tag_obj.name }}({{ tag_obj.article.filter_by(article_status="发布").all() | length }})</a></li>
                      {% else %}
                          <li><a href="/article/type/?tag_id={{ tag_obj.id }}">{{ tag_obj.name }}({{ tag_obj.article.filter_by(article_status="发布").all() | length }})</a></li>
                      {% endif %}
                  {% else %}
                      <li><a href="/article/type/?tag_id={{ tag_obj.id }}">{{ tag_obj.name }}({{ tag_obj.article.filter_by(article_status="发布").all() | length }})</a></li>
                  {% endif %}
              {% endif %}
          {% endfor %}
      </ul>
    </div>
    <div class="tuijian">
      <h2>站长推荐</h2>
      <ul>
          {% for article_obj in data.recommend.article %}
              <li><a href="/detail/?article_id={{ article_obj.id }}">{{ article_obj.title }}</a></li>
          {% endfor %}

      </ul>
    </div>
     <div class="tuijian">
      <h2>点击排行</h2>
      <ul>
        <li><a href="/">你是什么人便会遇上什么人</a></li>
        <li><a href="/">帝国cms 列表页调用子栏目，没有则不显示栏目名称</a></li>
        <li><a href="/">第二届 优秀个人博客模板比赛参选活动</a></li>
        <li><a href="/">个人博客模板《绅士》后台管理</a></li>
        <li><a href="/">你是什么人便会遇上什么人</a></li>
        <li><a href="/">帝国cms 列表页调用子栏目，没有则不显示栏目名称</a></li>
        <li><a href="/">第二届 优秀个人博客模板比赛参选活动</a></li>
        <li><a href="/">个人博客模板《绅士》后台管理</a></li>
      </ul>
    </div>
<div class="cloud">
      <h2>标签云</h2>
      <ul>
        <a href="/">陌上花开</a> <a href="/">校园生活</a> <a href="/">html5</a> <a href="/">SumSung</a> <a href="/">青春</a> <a href="/">温暖</a> <a href="/">阳光</a> <a href="/">三星</a><a href="/">索尼</a> <a href="/">华维荣耀</a> <a href="/">三星</a> <a href="/">索尼</a>
      </ul>
    </div>
    <div class="guanzhu">
      <h2>关注我 么么哒</h2>
      <ul>
        <img src="/statics/images/wx.jpg">
      </ul>
    </div>
  </aside>

  <main class="r_box">
      {% if data.data_list == [] %}
          <h3>抱歉，没有找到您想要的结果！</h3>
      {% else %}
      {% for article_obj in data.data_list %}
        <li class="alt-list"><i><a href="/"><img class="article-image" src="/statics/images/article_picture/{{ article_obj.article_picture }}"></a></i>
            <h4><a href="/detail/?article_id={{ article_obj.id }}">{{ article_obj.title }}</a></h4>
            <p>{{ article_obj.description }}</p><br>
            <hr>
          <span><img src="/statics/images/time.png">{{ article_obj.created_date }}</span>
              <span><img src="/statics/images/author.png">{{ article_obj.author }}</span>
              <span><img src="/statics/images/tag.png">
              {% for tag_obj in article_obj.tag %}
                  {{ tag_obj.name }}&nbsp;
              {% endfor %}
          </span>

      </li>
      {% endfor %}
      {% endif %}
    {% if not data.data_list == [] %}
    <div class="pagelist">
        {% if data.pre_page %}
            <a href="/article/?page={{ data.pre_page }}">上一页</a>
        {% else %}
            <a href="#">上一页</a>
        {% endif %}
        {% for page in data.page_range %}
            {% if page == data.current_page %}
                <a href="#" class="curPage">{{ page }}</a>&nbsp;&nbsp;
            {% else %}
                <a href="/article/?page={{ page }}">{{ page }}</a>
            {% endif %}
        {% endfor %}
        {% if data.next_page %}
            <a href="/article/?page={{ data.next_page }}">下一页</a>
        {% else %}
            <a href="#">下一页</a>
        {% endif %}
    </div>
    {% endif %}

  </main>
</article>
{% endblock %}
{% block script %}
    <script>
        $(function () {
            var str = $(".r_box").html();
            str = str.replace(/{{ key_word }}/ig,"<span style='color:red'>{{ key_word }}</span>");
            $(".r_box").html(str)
        })
    </script>
{% endblock %}