{% extends "base.html" %}

{% block title %}
个人首页
{% endblock %}

{% block container %}
<article>
  <aside class="l_box">
      <div class="about_me">
        <h2>关于我</h2>
        <ul>
          <i><img src="/statics/images/4.jpg"></i>
          <p><b>杨青</b>，一个80后草根女站长！09年入行。一直潜心研究web前端技术，一边工作一边积累经验，分享一些个人博客模板，以及SEO优化等心得。</p>
        </ul>
      </div>
      <div class="wdxc">
        <h2>我的相册</h2>
        <ul>
          <li><a href="/"><img src="/statics/images/7.jpg"></a></li>
          <li><a href="/"><img src="/statics/images/8.jpg"></a></li>
          <li><a href="/"><img src="/statics/images/9.jpg"></a></li>
          <li><a href="/"><img src="/statics/images/10.jpg"></a></li>
          <li><a href="/"><img src="/statics/images/11.jpg"></a></li>
          <li><a href="/"><img src="/statics/images/12.jpg"></a></li>
        </ul>
      </div>
      <div class="search">
        <form action="/e/search/index.php" method="post" name="searchform" id="searchform">
          <input name="keyboard" id="keyboard" class="input_text" value="请输入关键字词" style="color: rgb(153, 153, 153);" onfocus="if(value=='请输入关键字词'){this.style.color='#000';value=''}" onblur="if(value==''){this.style.color='#999';value='请输入关键字词'}" type="text">
          <input name="show" value="title" type="hidden">
          <input name="tempid" value="1" type="hidden">
          <input name="tbname" value="news" type="hidden">
          <input name="Submit" class="input_submit" value="搜索" type="submit">
        </form>
      </div>
      <div class="fenlei">
        <h2>文章分类</h2>
        <ul>
          {% for tag_obj in data.tag_obj_list %}
              {% if tag_obj.name == "站长推荐" %}
                  <li style="display: none"></li>
              {% else %}
                  {% if tag_id %}
                      {% if tag_obj.id == tag_id %}
                          <li><a style="color: red" href="/article/type/?tag_id={{ tag_obj.id }}">{{ tag_obj.name }}({{ tag_obj.article.filter_by(article_status="发布").all() | length }})</a></li>
                      {% else %}
                          <li><a href="/article/type/?tag_id={{ tag_obj.id }}">{{ tag_obj.name }}({{ tag_obj.article.filter_by(article_status="发布").all() | length }})</a></li>
                      {% endif %}
                  {% else %}
                      <li><a href="/article/type/?tag_id={{ tag_obj.id }}">{{ tag_obj.name }}({{ tag_obj.article.filter_by(article_status="发布").all() | length }})</a></li>
                  {% endif %}
              {% endif %}
          {% endfor %}
        </ul>
      </div>
      <div class="tuijian">
        <h2>站长推荐</h2>
        <ul>
          {% for article_obj in data.recommend.article %}
              <li><a href="/detail/?article_id={{ article_obj.id }}">{{ article_obj.title }}</a></li>
          {% endfor %}
        </ul>
      </div>
      <div class="links">
        <h2>友情链接</h2>
        <ul>
          <a href="http://www.yangqq.com">杨青个人博客</a> <a href="http://www.yangqq.com">杨青博客</a>
        </ul>
      </div>
      <div class="guanzhu">
        <h2>关注我 么么哒</h2>
        <ul>
          <img src="/statics/images/wx.jpg">
        </ul>
      </div>
  </aside>
  <main class="r_box">
     {% for article_obj in data.data_list %}
      <li><i><a href="/"><img src="/statics/images/1.jpg"></a></i>
            <h3><a href="/detail/?article_id={{ article_obj.id }}">{{ article_obj.title }}</a></h3>
            <p>{{ article_obj.description }}</p><br>
            <hr>
            <span style="font-size: 10px;margin-right: 200px">时间：{{ article_obj.created_date }}&nbsp;&nbsp;&nbsp;&nbsp;
                作者：{{ article_obj.author }}&nbsp;&nbsp;&nbsp;&nbsp;
                标签：{% for tag_obj in article_obj.tag %}
                    {{ tag_obj.name }}&nbsp;
                    {% endfor %}
            </span>
      </li>
      {% endfor %}
  </main>
</article>
{% endblock %}
