{% extends "base.html" %}

{% block title %}
留言
{% endblock %}

{% block container %}
<article>
  <aside class="l_box">
    <div class="about_me">
      <h2>关于我</h2>
      <ul>
        <i><img src="/statics/images/4.jpg"></i>
        <p><b>杨青</b>，一个80后草根女站长！09年入行。一直潜心研究web前端技术，一边工作一边积累经验，分享一些个人博客模板，以及SEO优化等心得。</p>
      </ul>
    </div>
    <div class="wdxc">
      <h2>我的相册</h2>
      <ul>
        <li><a href="/"><img src="/statics/images/7.jpg"></a></li>
        <li><a href="/"><img src="/statics/images/8.jpg"></a></li>
        <li><a href="/"><img src="/statics/images/9.jpg"></a></li>
        <li><a href="/"><img src="/statics/images/10.jpg"></a></li>
        <li><a href="/"><img src="/statics/images/11.jpg"></a></li>
        <li><a href="/"><img src="/statics/images/12.jpg"></a></li>
      </ul>
    </div>
     <div class="search">
      <form action="/e/search/index.php" method="post" name="searchform" id="searchform">
        <input name="keyboard" id="keyboard" class="input_text" value="请输入关键字词" style="color: rgb(153, 153, 153);" onfocus="if(value=='请输入关键字词'){this.style.color='#000';value=''}" onblur="if(value==''){this.style.color='#999';value='请输入关键字词'}" type="text">
        <input name="show" value="title" type="hidden">
        <input name="tempid" value="1" type="hidden">
        <input name="tbname" value="news" type="hidden">
        <input name="Submit" class="input_submit" value="搜索" type="submit">
      </form>
    </div>
    <div class="fenlei">
      <h2>文章分类</h2>
      <ul>
          {% for tag_obj in data.tag_obj_list %}
              {% if tag_obj.name == "站长推荐" %}
                  <li style="display: none"></li>
              {% else %}
                  {% if tag_id %}
                      {% if tag_obj.id == tag_id %}
                          <li><a style="color: red" href="/article/type/?tag_id={{ tag_obj.id }}">{{ tag_obj.name }}({{ tag_obj.article.filter_by(article_status="发布").all() | length }})</a></li>
                      {% else %}
                          <li><a href="/article/type/?tag_id={{ tag_obj.id }}">{{ tag_obj.name }}({{ tag_obj.article.filter_by(article_status="发布").all() | length }})</a></li>
                      {% endif %}
                  {% else %}
                      <li><a href="/article/type/?tag_id={{ tag_obj.id }}">{{ tag_obj.name }}({{ tag_obj.article.filter_by(article_status="发布").all() | length }})</a></li>
                  {% endif %}
              {% endif %}
          {% endfor %}
      </ul>
    </div>
    <div class="guanzhu">
      <h2>关注我 么么哒</h2>
      <ul>
        <img src="/statics/images/wx.jpg">
      </ul>
    </div>
  </aside>
  <main class="r_box">
      <a href="#msg">留言</a>
<div class="gbook">
    {% for messages in data.data_list %}
      <div class="fb">
        <ul>
          <p class="fbtime"><span> {{ messages.message.created_date }} </span> {{ messages.message.user.username }}</p>
          <p class="fbinfo">{{ messages.message.content }}</p>
        </ul>
      </div>
        {% if messages.reply == None %}
        {% else %}
          <div class="hf">
            <ul>
              <p class="zzhf"><font color="#FF0000">站长回复:</font>{{ messages.reply.content }}</p>
            </ul>
          </div>
        {% endif %}
    {% endfor %}
     <div class="pagelist">
        {% if data.pre_page %}
            <a href="/message/?page={{ data.pre_page }}">上一页</a>
        {% else %}
            <a href="#">上一页</a>
        {% endif %}
        {% for page in data.page_range %}
            {% if page == data.current_page %}
                <a href="#" class="curPage">{{ page }}</a>&nbsp;&nbsp;
            {% else %}
                <a href="/message/?page={{ page }}">{{ page }}</a>
            {% endif %}
        {% endfor %}
        {% if data.next_page %}
            <a href="/message/?page={{ data.next_page }}">下一页</a>
        {% else %}
            <a href="#">下一页</a>
        {% endif %}
    </div>
      <div class="gbox" id="msg">
        <form action="../../enews/index.php" method="post" name="form1" id="form1">
          <p> <strong>来说点儿什么吧...</strong></p>
          <p><span> 您的姓名:</span>
            <input name="name" type="text" id="name">
            *</p>
          <p><span>联系邮箱:</span>
            <input name="email" type="text" id="email">
            *</p>
          <p><span class="tnr">留言内容:</span>
            <textarea name="lytext" cols="60" rows="12" id="lytext"></textarea>
          </p>
          <p>
            <input type="submit" name="Submit3" value="提交">
            <input name="enews" type="hidden" id="enews" value="AddGbook">
          </p>
        </form>
      </div>
    </div>
  </main>
</article>
{% endblock %}