<!doctype html>
<html>
<head>
<meta charset="utf8">
<title>我的音乐</title>
<meta name="keywords" content="个人博客,杨青个人博客,个人博客模板,杨青" />
<meta name="description" content="杨青个人博客，是一个站在web前端设计之路的女程序员个人网站，提供个人博客模板免费资源下载的个人原创网站。" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="/statics/css/index.css" rel="stylesheet">
<link href="/statics/css/m.css" rel="stylesheet">
<link href="/statics/css/base.css" rel="stylesheet">
<script src="/statics/js/jquery.min.js" type="text/javascript"></script>
<script type="text/javascript" src="/statics/js/comm.js"></script>


</head>
<body>
<header class="header-navigation" id="header">
  <nav><div class="logo"><a href="/index/">刘敬个人博客</a></div>
    <h2 id="mnavh"><span class="navicon"></span></h2>
    <ul id="starlist">
      <li><a href="/index/">网站首页</a></li>
      <li><a href="/music/">我的音乐</a></li>
      <li class="current dropdown" ><a href="/article/" class="dropbtn">我的文章</a>
          <div class="dropdown-content" style="left: 750px">
              <a href="/article/type/?tag_id=3">个人分享</a>
              <a href="/article/type/?tag_id=1">技术文章</a>
              <a href="/article/type/?tag_id=2">美文精选</a>
          </div>
      </li>
      <li><a href="about.html">关于我</a></li>
      <li><a href="/message/">留言</a></li>
      <li><a href="article_content.html">内容页</a></li>
      <li><a href="/backstage/">开发者</a></li>
    </ul>
</nav>
</header>
<link rel="stylesheet" href="/statics/music/src/css/smusic.css"/>
<div class="grid-music-container f-usn">
    <div class="m-music-play-wrap">
        <div class="u-cover"></div>
        <div class="m-now-info">
            <h1 class="u-music-title"><strong>标题</strong><small>歌手</small></h1>
            <div class="m-now-controls">
                <div class="u-control u-process">
                    <span class="buffer-process"></span>
                    <span class="current-process"></span>
                </div>
                <div class="u-control u-time">00:00/00:00</div>
                <div class="u-control u-volume">
                    <div class="volume-process" data-volume="0.50">
                        <span class="volume-current"></span>
                        <span class="volume-bar"></span>
                        <span class="volume-event"></span>
                    </div>
                    <a class="volume-control"></a>
                </div>
            </div>
            <div class="m-play-controls">
                <a class="u-play-btn prev" title="上一曲"></a>
                <a class="u-play-btn ctrl-play play" title="暂停"></a>
                <a class="u-play-btn next" title="下一曲"></a>
                <a class="u-play-btn mode mode-list current" title="列表循环"></a>
                <a class="u-play-btn mode mode-random" title="随机播放"></a>
                <a class="u-play-btn mode mode-single" title="单曲循环"></a>
            </div>
        </div>
    </div>
    <div class="f-cb">&nbsp;</div>
    <div class="m-music-list-wrap"></div>
</div>
<script src="/statics/music/src/js/smusic.min.js"></script>
<script>

    $(function () {
        $.post("/music/",{},function (data) {
            var musicList = [];
            for (music of data) {
                var musicDict = {
                    title:music.title,
                    singer:music.singer,
                    cover:"/statics/music/images/"+music.image,
                    src:"/statics/music/music/"+music.src
                };
                musicList.push(musicDict)

            }
            new SMusic({
                musicList:musicList
            });
        });


    })

</script>

<footer>
  <p>Design by <a href="http://www.yangqq.com" target="_blank">杨青个人博客</a> <a href="/">蜀ICP备11002373号-1</a></p>
</footer>
<a href="#" class="cd-top">Top</a>
</body>

</html>